<html>
    <head>
        <link
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
            rel="stylesheet"
        />
        <title>Hello Vue</title>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    </head>
    <body>
        <div class="container">
            <story :story="{plot:'My Car is Amazing!', writer: 'Mr.Bel'}"></story>
            <story :story="{plot:'My Horse is Amazing!', writer: 'Mr.Kim'}"></story>
            <story :story="{plot:'My Dog is Amazing!', writer: 'Mr.Lee'}"></story>
        </div>
    </body>

    <!-- 1. template  -->
    <template id="story-template">
        <h1>{{ story.writer }} said "{{ story.plot }}"</h1>
    </template>

    <script type="text/javascript">
        // 2.compo 정의 : story
        // props: "story"
        Vue.component("story", {
            template: "#story-template",
            props: ["story"],
        });

        new Vue({
            el: ".container",
            data: {
                story: {},
            },
        });
    </script>
</html>
