<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Vue.js</title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <h2>사용자 정의 이벤트</h2>
        <div id="app">
            <button v-on:click="doAction">메세지전송</button>
            <h2>{{message}}</h2>
        </div>
        <script>
            new Vue({
                el: "#app",
                data: {
                    message: "",
                },
                methods: {
                    doAction() {
                        // 이벤트 발생
                        this.$emit("sendMsg", "안녕하세요 여러분");
                    },
                },
                created() {
                    // sendMsg 이벤트가 발생하는지 감시, 낚아챔
                    this.$on("sendMsg", (msg) => {
                        alert(msg);
                        this.message = msg;
                    });
                },
            });
        </script>
    </body>
</html>
